################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pract/Week1/Ex6_Plus_One/Ex6_Plus_One.cpp
